.card{
   
    border:none;
    width:50vw;
    padding:40px;
    position:absolute;
    top:60%;
    left:50%;
    transform:translate(-50%,-50%);
    background:wheat(205,46%,30%,1);
    background:linear-gradient(90deg,rgb(87, 112, 41)0%,rgb(120, 185, 35)100%);
}
.card  h1,h6{
    color:wheat;
}
label{
    color:wheat;
}