<nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top mt-3">
    <div class="container">
        
            <ul class="navbar-nav">
              <li class="nav-item">
                <div class="navbar-brand ">
                <img src="https://jobportal-img.s3.amazonaws.com/WhatsApp+Image+2022-07-02+at+4.16.00+PM.jpeg" style="display: inline-block;width:30px;height:30px">
                <span style="display: inline-block;">Job Hunt App</span>
                </div>
              </li>
            </ul>
        </div>
    
    
</nav>


